:root {
    /* colores para el usuario invitado (azules) */
    --color-invitado-bg: #007bff;
    /* azul */
    --color-invitado-text: #fff;

    /* colores para el usuario registrado (naranjas) */
    --color-usuario-bg: #ff6600;
    /* naranja */
    --color-usuario-text: #fff;

    /* colores para el administrador (grises) */
    --color-administrador-bg: #6c757d;
    /* gris */
    --color-administrador-text: #fff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Estilos para los encabezados */

/* Encabezado invitado */

.cabecera-invitado {
    background-color: var(--color-invitado-bg);
    color: var(--color-invitado-text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
    position: sticky;
}

.cabecera-invitado .logo img {
    height: 70px;
    width: auto;
}

.titulo-web-invitado {
    font-size: 1.8rem;
    font-weight: 700;
    margin-left: 15px;
    flex-grow: 1;
}

.acceso-usuario a {
    color: var(--color-invitado-text);
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid transparent;
}

.acceso-usuario a:hover,
.acceso-usuario a:focus {
    background-color: var(--color-invitado-text);
    color: var(--color-invitado-bg);
    border-color: var(--color-invitado-bg);
    outline: none;
}

.btn-carrito {
    font-size: 1.2rem;
}

/* Responsive para pantallas como las tabletss */
/* Responsive para pantallas como las tablets */
@media (min-width: 400px) and (max-width: 1024px) {
    .cabecera-invitado {
        flex-direction: column;
        align-items: center;
    }

    .titulo-web-invitado {
        margin: 10px 0;
        align-items: center;
    }

    .acceso-usuario a {
        margin-left: 0;
        margin-right: 1rem;
        align-items: center;
    }
}










/* Estilos para los menús */

/* Estilos para el menú invitado */
.menu-horizontal ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background: var(--color-invitado-bg);
}

.menu-horizontal li {
    margin: 0 15px;
}

.menu-horizontal a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 12px 18px;
    border-radius: 6px;
    transition: background 0.3s;
}

.menu-horizontal a:hover {
    background: #354274;
}

.menu-horizontal img {
    width: 32px;
    height: 32px;
    margin-bottom: 4px;
}

@media (max-width: 768px) {
    .menu-horizontal ul {
        flex-direction: column;
    }

    .menu-horizontal li {
        margin: 10px 0;
    }
}




/* Estilos para los centros */





















/* Estilos para los pies de página */